* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

/*COVER PHOTO SECTION */

.cover-section {
    position: relative;
    width: 100%;
}

.cover-photo img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

/*  PROFILE CONTAINER*/

.profile-container {
    position: absolute;
    bottom: -120px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.profile-pic {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.name {
    margin-top: 12px;
    font-size: 1.9rem;
    font-weight: bold;
    color: black;
    text-shadow: 1px 1px 3px rgba(250, 245, 245, 0.7);
}

.text-footer {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 30px 0;
    font-size: 14px;
    border-top: 1px solid #444;
}
